@font-face {
   font-family: 'Hacen Tunisia Lt';
   font-display: swap;
   src: url('file:///C:/Users/Waheed%20Sami/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-21_105841/fonts/Hacen%20Tunisia%20Lt/font.ttf');
}
